<?xml version="1.0"?>
<model>
  <name>L1 Diferential Robot</name>
  <version>1.0</version>
  <sdf version='1.4'>diff_robot_model.sdf</sdf>

  <author>
   <name>Jose Tomas Lorente</name>
   <email>jtlorente@ekumenlabs.com</email>
  </author>

  <description>
    My awesome robot.
  </description>
</model>
